@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  letter-spacing: 0.02em;
}

body {
  @apply text-black dark:text-white;
}

/* --------- PARAGRAPH --------- */

h1 {
  @apply text-[28px] leading-[42px] tablet:text-[58px] font-bold tablet:leading-[72px];
}

h2 {
  @apply text-[32px] tablet:text-[48px] leading-[50px] text-gray-dark dark:text-white font-semibold text-center;
}

h3 {
  @apply text-[20px] tablet:text-[24px] tablet:font-medium text-gray-dark dark:text-white leading-snug;
}

p {
  font-size: 16px;
  line-height: 29px;
}


.toggler-wrapper {
  display: block;
  width: 80px;
  height: 25px;
  cursor: pointer;
  position: relative;
  margin-right: 20px;
  margin-bottom: 6px;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: #ccc;
  position: absolute;
  border-radius: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.toggler-wrapper.style-3 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-3 .toggler-knob {
  width: calc(25px + 6px);
  height: calc(25px + 6px);
  border-radius: 50%;
  left: -3px;
  top: -3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
  box-shadow: 0 2px 6px rgba(153, 153, 153, 0.75);
}

/* Delete the background on inputs autofil google chrome */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}

-webkit-text-fill-color: #838b95 !important;

/* ---------FIX FIXED POSITION BUG--------- */

[data-scroll-lock] .fixed--help-right {
  margin-right: var(--scrollbar-compensation);
}

[data-scroll-lock] .fixed--help-left {
  margin-left: var(--scrollbar-compensation);
}

/* ---------NAVBAR--------- */

.transition-bgColor {
  transition: background-color 1s ease !important;
}

.transition-bgColor-border {
  transition: background-color 0.5s ease, border 0.5s ease;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.headline-shadow {
  text-shadow: 0px 0px 10px rgb(2 1 1 / 40%);
}

.animated_morphing_words_container {
  position: relative;
  filter: url(#threshold) blur(0.6px);
  text-align: center;
  width: 320px;
}
@media (max-width: 1280px) {
  .animated_morphing_words_container {
    width: 220px;
  }
}
@media (max-width: 960px) {
  .animated_morphing_words_container {
    width: 150px;
  }
}
.animated_morphing_words_container span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  text-align: center;
  user-select: none;
}

.home-svg-part__car {
  width: 200px;
  height: auto;
  bottom: 36%;
  right: 8%;
}



.home-svg-part {
  background-position: -200px 0;
  background-size: 1400px auto;
}
.home-svg-part > div {
  max-width: 1400px;
}
.home-svg-part__section-one {
  margin-top: 3%;
  margin-bottom: 9%;
}
.home-svg-part__section-two {
  margin-top: 5%;
  margin-bottom: 8%;
}

@media (max-width: 500px) {
  .home-svg-part {
    background-image: url(/assets/svg/home-graphix-mobile2.svg);
  }
}



@media (min-width: 600px) {
  .home-svg-part {
    background-position: 0 0;
    background-size: 1200px auto;
  }
}

@media (min-width: 800px) {
  .home-svg-part__car {
    width: 200px;
    height: auto;
    bottom: 36%;
    right: 8%;
  }
}

@media (min-width: 1000px) {
  .home-svg-part {
    background-position: 0 0;
    background-size: 100% auto;
  }
  .home-svg-part__section-one {
    margin-bottom: 10%;
  }
}
@media (min-width: 1200px) {
  .home-svg-part__section-one {
    margin-bottom: 13%;
  }
  .home-svg-part__car {
    width: 300px;
    height: 198px;
    bottom: 28%;
    right: 14%;
  }
}
@media (min-width: 1400px) {
  .home-svg-part__section-two {
    margin-bottom: 11%;
  }
  .home-svg-part__section-three {
    margin-top: 4%;
  }
}
@media (min-width: 1600px) {
  .home-svg-part__section-two {
    margin-bottom: 14%;
  }
}

@media (max-width: 640px) {
  .home-svg-part {
    background-position: right 0;
    background-size: 640px auto;
  }
  .home-svg-part__car {
    display: none;
  }
  .home-svg-part__section-one {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15%;
  }
  .home-svg-part__section-two {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 8%;
    margin-bottom: 20%;
  }
  .home-svg-part__section-three {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 8%;
  }
}
@media (max-width: 410px) {
  .home-svg-part {
    background-position: right 0;
    background-size: 600px auto;
  }
  .home-svg-part__section-one {
    margin-bottom: 10%;
  }
  .home-svg-part__section-two {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 8%;
    margin-bottom: 10%;
  }
}

/* ---------RADIOBUTTONS NAVBAR--------- */

.nav-container .nav-item-highlighter {
  transform: translateY(-50%);
  z-index: 1;
  visibility: hidden;
  transition: left 0.6s;
}

.nav-container .nav-item.active ~ .nav-item-highlighter {
  visibility: visible;
}

.nav-container .nav-item.active.item-0 ~ .nav-item-highlighter {
  left: 0;
}

.nav-container .nav-item.active.item-1 ~ .nav-item-highlighter {
  left: 35.3%;
}

.nav-container .nav-item.active.item-2 + .nav-item-highlighter {
  left: 70.3%;
}

/* --------- BUTTONS --------- */

.btn {
  @apply rounded-xl uppercase;
}

.btn-yellow {
  @apply bg-yellow text-white;
}

.btn-yellow:hover {
  @apply bg-yellow-dark;
}

.btn-white {
  @apply bg-white text-black;
}

.btn-white:hover {
  @apply bg-gray-100;
}

/* --------- LINKS --------- */

.link {
  @apply pb-[1px] border-b border-black dark:border-white text-black dark:text-white cursor-pointer;
}

.link-yellow {
  @apply hover:border-[#F9B300] hover:text-[#F9B300];
}

/* --------- WAVING EMOJI HAND --------- */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/* --------- ANIMATION FOR FAQ ANSWERS --------- */

.answer {
  height: 0%;
  animation: slidein 0.4s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    opacity: 0.3;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Inventory - MENU */

.inventory__cat-title {
  font-size: 18px;
  margin: 0 0 15px 0;
}
.inventory__tree-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  min-width: 400px;
  background-color: #eee;
  z-index: 1000000;
}
.inventory__inner {
  width: 100%;
  max-width: 1200px;
}
.inventory__ul-top {
  max-width: 220px;
  margin-top: 33px;
  margin-left: 6px;
}
.inventory__ul-top > li {
  padding-top: 12px;
  padding-bottom: 12px;
}
.inventory__tree-holder ul ul > li {
  position: relative;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  padding-left: 16px;
}
.inventory__tree-holder ul ul > li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #666;
  border-radius: 5px;
}
.inventory__tree-holder ul ul > li > div {
  border-bottom: 2px solid transparent;
  font-size: 22px;
}
.inventory__tree-holder ul ul > li > div:hover {
  border-bottom: 2px solid #666;
}

.inventory__search-input {
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  max-width: 360px;
}

/* Animated scrolling barberpole background */
.animated_barberpole {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.3s ease;
  background-size: 30px 30px;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
  animation: barberpole 0.5s linear infinite;
  z-index: 0;
}

@keyframes barberpole {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 60px 30px;
  }
}

.animated_neon_gradient {
  background: 
    radial-gradient(circle at 70%, #fff, transparent 60%), 
    linear-gradient(to top, #F9B100 0%, transparent 70%), 
    linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.4) 70%), #458DAF;

  -webkit-animation: animated_neon_gradient_anim 11s infinite;
          animation: animated_neon_gradient_anim 11s infinite;
}

<<<<<<< HEAD
/* 
FFC519 orange 
39a23c green 
292929 gray
*/

=======

/* 
  #FCFCFC - white 
   #275d2b - green 
    #F9B100 - yellow 
   #4b3d30 - brown 
  #458DAF - blue 
*/ 


@-webkit-keyframes animated_neon_gradient_anim {
  0%, 100% {
    background-color: #458DAF;
  }
  25% {
    background-color: #228B29;
  }
  50% {
    background-color: #F9B100;
  }
  75% {
    background-color: #8D4C10;
  }
}

@keyframes animated_neon_gradient_anim {
  0%, 100% {
    background-color: #458DAF;
  }
  25% {
    background-color: #228B29;
  }
  50% {
    background-color: #F9B100;
  }
  75% {
    background-color: #8D4C10;
  }
}

/*
>>>>>>> b29294caaa7fd50a1e77607468dfc6b809bf472f
@-webkit-keyframes animated_neon_gradient_anim {
  0%, 100% {
    background-color: #FFC519;
  }
  30% {
    background-color: #39a23c;
  }
  65% {
    background-color: #292929;
  }
}

@keyframes animated_neon_gradient_anim {
  0%, 100% {
    background-color: #FFC519;
  }
  30% {
    background-color: #39a23c;
  }
  65% {
    background-color: #292929;
  }
}

*/